.custom-zoom-effect {
    transition: transform 0.3s ease-in-out;
  }
  
  .custom-zoom-effect:hover {
    transform: scale(1.05); /* You can adjust the scale factor based on your preference */
  }
  
  .blur-bg {
    backdrop-filter: blur(5px); /* You can adjust the blur intensity based on your preference */
    background-color: rgba(0, 0, 0, 0.3); /* Darkened background color */
    transition: backdrop-filter 0.3s ease-in-out, background-color 0.3s ease-in-out;
  }
  
  .blur-bg:hover {
    backdrop-filter: blur(8px); /* Adjust the blur intensity on hover */
    opacity: 1;
  }
  